# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Meal
DB_USER=rohit
DB_PASSWORD=rohit

# Authentication (JWT)
CLIENT_JWT_SECRET=your_client_jwt_secret_key
ADMIN_JWT_SECRET=your_admin_jwt_secret_key
JWT_EXPIRES_IN=7d

# Admin Specific
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_secure_password

# Client Specific 
CLIENT_APP_URL=http://localhost:4200
